################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/KKogut.Algorithms/*/bin/Debug
/KKogut.Algorithms/*/obj/Debug
